# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
coverage

# next.js
.next
out

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo

# Sentry
.sentryclirc

# Storybook
storybook-static

# Cypress
cypress/**/*.mp4
cypress/downloads
cypress/screenshots
cypress/videos

# font: not for production yet
# *.eot
# *.otf
# *.ttf
# *.woff
# *.woff2

.vercel

# github bot build files
dist

# pwa files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map

.vercel

# Sentry
.sentryclirc
