{
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "bracketSameLine": false,
  "jsxSingleQuote": true,
  "printWidth": 100,
  "quoteProps": "as-needed",
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5"
}
